.contacts {
  width: 100%;

  background-image: url(../images/contactsm.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #191c26;

  @media screen and (max-width: 1199px) {
    margin-top: -1px;
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/contactst.png);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/contactsd.png);

    margin-left: -1px;
  }
}

.contacts-container {
  @media screen and (min-width: 1200px) {
    max-width: 600px;
    padding: 0 0 0 100px;
    margin: 0;
  }
}

.contacts__title {
  @extend %section-title;

  margin-bottom: 44px;

  text-align: center;

  color: #ffffff;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

// address-------------------------------
.address-box {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    margin-bottom: 70px;
  }
}

.address {
  margin-bottom: 44px;
  display: flex;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 70px;
  }
}

.address__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.address__item {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30px / 18px);
  letter-spacing: 0.02em;

  color: #9da4bd;
}

.address__item--bold {
  font-weight: 700;
}

.address__link {
  display: flex;
  align-items: center;
}

.address__icon {
  margin-right: 16px;
}

// ----------contact-box---------------

.contacts-box__bottom-text {
  @extend %top-text;

  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  color: #ffffff;

  &::before {
    content: "";

    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.4);
  }
}

.contacts-box__text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30px / 18px);
  letter-spacing: 0.02em;

  color: #9da4bd;
}
