.online-contacts-wrap {
  @media screen and (min-width: 1200px) {
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
}

.online-container {
  @media screen and (min-width: 1200px) {
    max-width: 600px;
    margin: 0 0 0 auto;
  }
}

.online {
  width: 100%;

  background-color: #191c26;
}

.online__title {
  @extend %section-title;

  margin-bottom: 44px;

  text-align: center;

  color: #ffffff;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.online-form {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15px / 11px);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}

.form-box {
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
  }
}

.online-form__input-wrap {
  position: relative;

  margin-bottom: 44px;

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.online-form__input {
  width: 100%;
  height: 24px;

  background-color: transparent;
  outline: transparent;
  border: none;
  border-radius: 0%;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: #ffffff;

  &:focus {
    color: #ffffff;
  }
}

.online-form__label {
  position: absolute;
  top: 0;
  left: 0;

  transition: transform 250ms linear;

  .online-item:focus + &,
  .online-item:not(:placeholder-shown) + & {
    transform: translateY(-100%);
    color: #ffffff;
  }
}

.online-item:focus {
  border-color: #ffffff;
}

.online-form__textarea-wrap {
  position: relative;

  margin-bottom: 44px;
}

.online-form__textarea {
  width: 100%;
  height: 76px;

  background-color: transparent;
  outline: transparent;
  border: none;
  border-radius: 0%;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: #ffffff;

  &:focus {
    color: #ffffff;
  }
}

.online-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    display: inline-block;
  }
}
