.prices {
  background-image: url(../images/service.png);
  background-color: #111319;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-grow: 1;
}

// .prices__content {
// }

.prices__top-text {
  @extend %top-text;

  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);

  &::before {
    content: "";

    width: 60px;
    height: 1px;
    background-color: currentColor;
  }
}

.prices__title {
  @extend %section-title;

  margin-bottom: 44px;

  font-size: 40px;
  line-height: calc(47px / 40px);

  color: #ffffff;

  @media screen and (min-width: 768px) {
    font-size: 42px;
    line-height: calc(49px / 42px);
  }
}

.prices-thumb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 44px;
  padding: 30px 20px 30px 40px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
    padding: 0;
    background: none;
  }
}

.prices__list {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20px / 14px);
  letter-spacing: 0.02em;

  color: #9da4bd;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: calc(30px / 18px);
  }

  @media screen and (min-width: 1200px) {
    width: 50%;
    padding: 30px 20px;

    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);

    &:last-child {
      background: linear-gradient(
        180deg,
        #090b13 0%,
        rgba(9, 11, 19, 0.2) 100%
      );
    }
  }
}

.prices__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 4px;
  margin-bottom: 20px;

  &::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.prices__text {
  &:last-child {
    order: 1;
  }
}

.prices__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;
}
