%top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15px / 11px);
  text-transform: uppercase;
}

%hero-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: calc(56px / 48px);
  letter-spacing: 0.05em;

  color: #ffffff;
}

%about-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33px / 28px);
  letter-spacing: 0.05em;
}

%section-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49px / 42px);
  letter-spacing: 0.05em;
}
